@model Akelote_e_Shop.ViewModels.ItemListViewModel

@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/add-to-cart.js"></script>
    <script type="text/javascript">
        $(function () {
            var categories = [@string.Join(", ", Model.CategoryAndAncestors.Select(c => c.Id))];
            $.each(categories, function (k) {
                $('#subcategories-' + categories[k]).show();
                $('.category-expander[data-category=' + categories[k] + ']').text('indeterminate_check_box');
            });

            $('.category-expander').click(function () {
                var id = $(this).data('category');
                $('#subcategories-' + id).toggle();
                if ($(this).text() == 'add_box') {
                    $(this).text('indeterminate_check_box');
                } else {
                    $(this).text('add_box');
                }
            });;
        });
    </script>
}

@if (User.IsInRole("CanUseAdminAccess"))
{
    <a href="/Items/New">Add new item</a>
}

@if (!Model.Items.Any())
{
    <div class="no-data">

        <i class="material-icons">cloud_off</i>
        <p>No items yet...</p>

    </div>
}
else
{
    <div class="catalog">
        @foreach (var item in Model.Items)
        {
            <div class="catalog-item">
                <div class="catalog-item-image">
                    <a href="/Items/Details/@item.Id"><img src="@(item.Images.Select(i => i.HyperLink).FirstOrDefault() ?? "/Content/NoImage.png")" /></a>
                </div>
                <div class="catalog-item-title">
                    @Html.ActionLink(item.Title, "Details", "Items", new { id = item.Id }, null)
                </div>
                <div class="catalog-item-price">
                    @item.ReadablePrice
                </div>
                <div class="catalog-item-add-to-cart">
                    <a href="#" class="add-to-cart" data-id="@item.Id">Add to Cart</a>
                </div>
            </div>
        }
    </div>
}
