@model Akelote_e_Shop.ViewModels.SubcategoryViewModel

<li class="nav-item">
    @if (Model.Children.Any())
    {
        <div class="nav-link expandable">
            <i class="feather material-icons category-expander" data-category="@Model.Id">add_box</i>
            <div class="category-title">
                @Html.ActionLink(Model.Title, "Index", "Items", new { CategoryId = Model.Id }, null)
                @if (Model.Children.Any())
                {
                    <ul class="nav-children" style="display: none;" id="subcategories-@Model.Parent.Id">
                    @foreach (var child in Model.Children)
                    {
                        Html.RenderPartial("SublistForNavigation", child);
                    }
                    </ul>
                }
            </div>
        </div>
    }
    else
    {
        <div class="nav-link">
            <i class="feather">&nbsp;</i>
            <div class="category-title">
                @Html.ActionLink(Model.Title, "Index", "Items", new { CategoryId = Model.Id }, null)
            </div>
        </div>
    }
</li>