@model Akelote_e_Shop.Models.Order

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/rating.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/rating.css" />

<script>
    $(function () {
        $('.rating').rating();
    });
</script>
<div>
    <input type="text" class="rating rating5" value="@Model.Rating" />
</div>