

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Sales</span>
        </h6>
        @if (Request.IsAuthenticated)
        {
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/ShoppingCart">
                    <i class="feather material-icons">shopping_cart</i>
                    My cart  (<span id="num-items-in-cart">@Akelote_e_Shop.Models.ShoppingCart.GetCart(Context).GetCount()</span>)
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Orders">
                    <i class="feather material-icons">assignment</i>
                    Orders
                </a>
            </li>
        </ul>
        <hr />
        }
    </div>
</nav>