@model Akelote_e_Shop.Models.IndexViewModel
@{
    ViewBag.Title = "Change your account settings";
}

<p class="text-success">@ViewBag.Message</p>
<div>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
        </dd>
        <dt>Edit personal data:</dt>
        <dd>
            @Html.ActionLink("Edit", "EditData")
        </dd>
    </dl>
</div>
