@model Akelote_e_Shop.Models.Property

@{
    ViewBag.Title = "Details";
}

@section actions
{
    <div>
        @Html.ActionLink("Edit", "Edit", "Property", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary ml-2" })
        @Html.ActionLink("Back to list", "Index", "Property", null, new { @class = "btn btn-sm btn-secondary" })
    </div>

}

<div>

    <div class="row">

        <div class="col-6">
            <label>Name</label>
            <strong> @Html.DisplayNameFor(model => model.Name)</strong>
        </div>

        <div class="col-6">
            <label>Category</label>
            <strong>@Html.DisplayNameFor(model => model.Category.Title)</strong>
        </div>

    </div>
</div>
