.catalog-item {
    float: left;
    background: #F4F4F4;
    margin: 15px;
    padding: 15px;
    transition: background linear 0.3s;
}

.catalog-item:hover {
    background: #EEE;
}

.catalog-item-image img {
    max-height: 128px;
    max-width: 128px;
}

.catalog-item-image {
    text-align: center;
}
