body {
    font-size: .875rem;
}

.sidebar {
    height: calc(100vh - 60px);
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}


.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.sidebar .nav-link a {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link i {
    display: table-cell;
    font-size: 15px;
    width: 20px;
    vertical-align: top;
    padding-top: 4px;
}

.sidebar .nav-link .category-title {
    display: table-cell;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-children {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul.nav li {
    display: table;
    margin: 0;
    padding: 0;
}

.sidebar .nav-link {
    display: table-row;
}

.sidebar .nav-link.expandable {
}

.sidebar ul.nav {
    list-style-type: none;
    margin-left: 8px;
    padding-left: 8px;
}

.category-expander {
    cursor: pointer;
}