@model Akelote_e_Shop.Models.Item

@{
    ViewBag.Title = "Delete";
}

@{
    ViewBag.Title = "Delete item";
}

<h3 class="text-center">Are you sure you want to delete this?</h3>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color text-center">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Cancel", "Index", "Item", new { id = Model.Id }, new { @class = "btn btn-secondary" })
    </div>
}