@model Akelote_e_Shop.Models.ApplicationUser

@{
    ViewBag.Title = "Unblock order";
}

<h3 class="text-center">Are you sure you want to unblock this user?</h3>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-actions no-color text-center">
        <input type="submit" value="Put" class="btn btn-danger" />
        @Html.ActionLink("Cancel", "Index", "User", new { id = Model.Id }, new { @class = "btn btn-secondary" })
    </div>
}